/* navbar */

.navbar {
  background-color: var(--background-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  margin: 0 auto;
  height: var(--navbar-height);
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--alternate-background-color);
}

.navbar-logo {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-logo img {
  width: 15rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--hover-color);
}

.nav-link:active {
  transform: scale(0.985);
  transition: transform 0.15s;
}
