/* variables */

:root {
  --background-color: #f8f9fa;
  --alternate-background-color: #005fac;
  --trans-background-color: #f8f9fa88;
  --primary-color: #ffcc00;
  --secondary-color: #003366;
  --hover-color: #ffcc00;
  --text-color: #f8f9fa;
  --alternate-text-color: #e2e2e2;
  --hover-text-color: #003366;
  --border-radius: 0.25rem;
  --footer-height: 5vh;
  --navbar-height: 3vh;
  --min-height: 90vh;
}

/* main */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

/* navbar */

.navbar {
  background-color: var(--background-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  margin: 0 auto;
  height: var(--navbar-height);
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--alternate-text-color);
}

.navbar-logo {
  color: var(--secondary-color);
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: var(--hover-color);
}

.nav-cta {
  background-color: var(--secondary-color);
  color: var(--alternate-text-color);
  font-weight: bold;
}

.nav-cta:hover {
  color: var(--hover-color);
}

.nav-link:active {
  transform: scale(0.985);
  transition: transform 0.15s;
}
/* footer */

.footer {
  padding: 20px 0;
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;
  height: var(--footer-height);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-muted {
  color: #6c757d;
}

/* Provider */

.provider {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  padding-right: 30px;
  border-width: 1px;
  border-color: var(--secondary-color);
  border-style: solid;
}

.provider .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.provider img {
  width: 50px;
  height: 50px;
}

.provider h3 {
  color: var(--secondary-color);
}

.provider .arrow {
  width: 29px;
  height: 29px;
}

.provider:active {
  transform: scale(0.985);
  transition: transform 0.2s;
}

/* Landing.css */
.landing .background-image {
  background-image: url("./assets/background.jpeg");
  min-height: var(--min-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .title-box {
  background-color: var(--trans-background-color);
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.landing .title-box h1 {
  margin: 0;
  color: var(--secondary-color);
  size: 2rem;
}

.landing .title-box p {
  color: var(--secondary-color);
}

/* Login */

.login {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.login-content {
  display: flex;
  flex-grow: 1;
  padding: 2rem;
  min-height: var(--min-height);
}

.login-info {
  flex: 1;
  padding-right: 2rem;
}

.login-providers {
  flex: 1;
  border-left: 1px solid var(--secondary-color);
  padding-left: 2rem;
}

.title {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.login-info p {
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.login-providers h3 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.login-providers ul {
  list-style-type: none;
  padding: 0;
}

.login-providers li {
  margin-bottom: 1rem;
}
